/* @import 'leaflet/dist/leaflet.css'; */

@import 'tailwindcss';

@theme {
  --color-primary: #e91b41;
  --color-softPink: #fde8ec;
  --color-lightLavender: #f5ebf9;
  --color-white: #ffffff;
  --color-palePink: #fbd1d9;
  --color-lightPurple: #ecd8f3;
  --color-purple: #9d2ee7;
  --color-neutral: #e2e2e2;
  --color-neutralDark: #9b959f;
  --color-lightGrey: #918f90;
  --color-lightdark: #080d18;
  --color-grey: #484d57;
  --color-grey200: #a7a5a6;
  --color-grey300: #f7f6f6;
  --color-grey400: #a9abae;
  --color-green: #379966;
  --color-lavender: #e2c4ed;
  --color-veryLightGrey: #e5e6e7;
  --color-softRed: #f6a4b3;
  --color-pastelPurple: #d8b0e7;
  --color-mutedGrey: #d8dadb;
  --color-brightRed: #f2768d;
  --color-vibrantPurple: #c589db;
  --color-mutedBlueGrey: #cbcecf;
  --color-pink: #ed4967;
  --color-purple: #b161cf;
  --color-softGrey: #b1b5b7;
  --color-vividPurple: #9e3ac3;
  --color-mediumGrey: #979d9f;
  --color-darkRed: #ba1634;
  --color-red: #db371f;
  --color-darkPurple: #7e2e9c;
  --color-darkGrey: #7d8487;
  --color-deepRed: #8c1027;
  --color-darkViolet: #5f2375;
  --color-charcoalGrey: #646a6c;
  --color-maroon: #5d0b1a;
  --color-deepViolet: #3f174e;
  --color-darkCharcoal: #4b4f51;
  --color-darkMaroon: #460814;
  --color-deepPurple: #2f113b;
  --color-almostBlack: #323536;
  --color-almostRed: #2f050d;
  --color-blackCherry: #200c27;
  --color-charcoalBlack: #262829;
  --color-veryDarkRed: #170307;
  --color-veryDarkPurple: #100614;
  --color-black: #191a1b;
  --color-pureBlack: #0d0d0e;
  --color-solidBlack: #000000;
  --color-success-light: #d1f7d5;
  /* Light green */
  --color-success-dark: #28a745;
  /* Dark green */
  --color-error-light: #fee2e2;
  /* Light red */
  --color-error-dark: #dc3545;
  /* Dark red */
  --color-info-light: #e0f7ff;
  /* Light blue */
  --color-info-dark: #007bff;
  /* Dark blue */
  --color-info-muted: #b0e0e6;
}

.Toastify__toast {
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #d5e7d5;
  border-radius: 5px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@font-face {
  font-family: 'RedHat';
  src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatItalic';
  src: url('./assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 640px) {
  html {
    font-size: 90%; /* 1rem = 14.4px */
  }
}

/* Tablet / default */
@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 100%; /* 1rem = 16px */
  }
}

/* Desktop: larger root size */
@media (min-width: 1025px) {
  html {
    font-size: 112.5%; /* 1rem = 18px */
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='tel'],
  input[type='password'],
  textarea {
    font-size: 16px !important;
  }
}

/* input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
} */
